TG_BOT_TOKEN=

DEFAULT_AUDIO=02_audio.m4a

# 长间隔模式：固定间隔播放
LONG_INTERVAL_MINUTES=60       # 每隔多少分钟播放一次
LONG_DURATION_SECONDS=10

# 短间隔模式：随机间隔播放
SHORT_MIN_MINUTES=3
SHORT_MAX_MINUTES=8
SHORT_DURATION_SECONDS=30      # 每次播放多少秒

# 测试播放时长
TEST_DURATION_SECONDS=40
